.location i {
    font-size: 32px;
    line-height: 0; color: #3774b9;
}
.nav_block,.nav_block i, .nav_block a,.nav_block p{color: #3774b9;}
.search_btn2{background: transparent;    border-left: solid 1px #3774b9;}
.search_btn2 i{font-size: 22px;}
.product_search_form { box-shadow: rgba(0, 0, 0, 0.1)  0px 1px 4px 2px; border-radius: 5px; height: 50px;
	margin: auto;  }
.product_search_form input{border: none; color: #3774b9;}
.custom_select select{border:0; background-color: transparent;}
.navbar-collapse{justify-content: center;}
.location-text{margin: -6px 0 0 0;}
.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item{ height: 330px; }
.banner_content h2.top-text{font-size: 105px; color:#fff; text-transform: none;    margin: 0;    padding: 0; line-height: 1;}
.banner_content h2.top-text span{font-size: 50px; text-transform: uppercase;}
.banner_content h2.top-text2{font-size: 60px; color:#fff; text-transform: none;    margin-top: 0;
    line-height: 1; display: inline-block;
    background-color: #3575be; padding: 4px 5px 8px 5px;;}
.banner_section .banner_slide_content{top: 20%;
    -moz-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);}
	.banner_content p{ margin: 30px 0 0 0 ;}
	.banner_content p a.btn-fill-out{font-size: 25px; font-weight: 600; padding: 5px 15px; border-radius: 20px;}

.offer-banners{background-color: #daebf4;}	
.nav_style1.owl-theme .owl-nav .owl-prev, .nav_style1.owl-theme .owl-nav .owl-next{background: transparent;}
.get-app h3, .get-app h4{color: #3774b9;}
.get-app h4{font-size: 20px;}
footer h6{color: #878782;}
footer a, footer p{color: #fff;}
.logo-f{margin: 0 15px;}
.bottom_footer{background-color: #172337; color: #fff;border-top: solid 1px #6a6a6a;}
.bottom_header{background-color: #3577bc;}
.navbar .navbar-nav > li > a.active, .navbar .navbar-nav > li:hover > a{color: #fff;}
.f-icons{display: flex; align-items: center;}
.f-icons img{width: 20px; height: 20px;}
.f-icons p{font-size: 14px; margin-bottom: 0; padding-left: 5px;color: #fff;}
.bottom_footer p {
	color: #fff;
  }
.banner_content{display: none;}
.navbar-brand{max-width: 120px;}




@media only screen and (min-width: 992px){
.banner_content_inner {
    padding: 0px 30px;
}
.border-top{border: none !important;}
}

@media only screen and (max-width: 991px){
/* .nav_block{    flex-direction: column;} */
.location{position: absolute;
    top: 110px;}
	.nav_block .location a p.location-text,.nav_block .location a i.ion-location{color: #fff;}

}
@media only screen and (max-width:780px){
.xs-hidden{display: none;}

.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item
{ height: 100vw;;}
.banner_content h2.top-text {
    font-size: 18px;}
	.banner_content h2.top-text2, .banner_content h2.top-text span{ font-size: 15px;}
	.banner_section .banner_slide_content{  top: 10%;
		transform: translateY(10%);
		left: 5%;}
	.banner_content p a.btn-fill-out{font-size: 12px;}
	.banner_content p {
		margin: 5px 0 0 0;
	}

	.background_bg.one{background-image:url(../images/Slider/slider-1-mobile.jpg) !important}
	.background_bg.two{background-image:url(../images/Slider/slider-1-mobile.jpg) !important}
	.background_bg.three{background-image:url(../images/Slider/slider-1-mobile.jpg) !important}
	.bank-offer{margin-bottom: 15px;}
	.app-logos{display: flex;}
	.app-logos img{    padding: 10px 5px;
		width: 122px;
		height: auto;}
		.f-logo-pay{flex-direction: column;}
.bank-offer{text-align: center;}
}













.combo-select-dropdown.location ul{border-top-left-radius:5px ; border-bottom-left-radius: 5px;}
.location ul{border-right: solid 1px #ccc;}
ul.select-list-group-list .select-list-group-list-item {padding: 0 10px;}
.input-group-prepend{width: calc(100% - 50px);}
.location{max-width: 200px;}
.combo-select-dropdown {position: relative;width: 100%;}

.combo-select-dropdown input{ padding: 0 10px;	margin: 0;}
.combo-select-dropdown li {
  padding: 0;
  margin: 0;
}

.combo-select-dropdown li {
  position: relative;

}

.combo-select-dropdown ul {
  list-style: none;
  padding: 0;position: absolute;
  z-index: 9999999; background-color: #fff;
}

.combo-select-dropdown li li:hover {
  color: white;
  background-color: grey;
}

.combo-select-dropdown li li.current {
  color: white;
  background-color: pink;
}

.combo-select-dropdown li li.active {
  color: white;
  background-color: skyblue;
}

.select-list-group {
  position: relative;
}

.select-list-group,
.select-list-group * {
  width: 100%;
}

.select-list-group .select-list-group-search+.select-list-group__toggle:after {
  content: "v";
  font-family: sans-serif;
  position: absolute;
  top: .6rem;
  right: .7rem;
  width: 2rem;
  padding: 0.6rem;
  text-align: center;
}

.select-list-group .select-list-group-search:focus+.select-list-group__toggle:after {
  content: "^";
}

.select-list-group [data-toggle="false"] {
  display: none;
}

.select-list-group [data-toggle="true"] {
  display: inherit;
  box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);
}

.select-list-group li[data-display="false"] {
  display: none;
}

.select-list-group li[data-display="true"] {
  display: inherit;
}

.select-list-group li[data-highlight="false"] {
  border-left: 0;
}

.select-list-group li[data-highlight="true"] {
  color: white;
  background-color: grey;
}

.select-list-group::after {
  position: absolute;
  right: 0;
  margin-right: -5px;
  top: 25px;
  right: 35px;
  content: "";
  width: 10px;
  height: 10px;
  background: url(https://image.flaticon.com/icons/png/512/25/25756.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
}