.location i {
    font-size: 20px;
    line-height: 0; color: #3774b9;
}
.current-location{padding-left: 35px !important}
.current-location::before{content: ''; background-image: url(../images/detect-location.svg); width: 20px; height: 20px;position: absolute;
	background-repeat: no-repeat;left: 10px;	background-size: cover}
.location-input{display: flex; align-items: center;}	
.location-input i{  max-width: 15px;	font-size: 25px;	text-align: center;	margin-left: 10px;  }
.nav_block,.nav_block i, .nav_block a,.nav_block p{color: #3774b9;}
.search_btn2{background: transparent;    border-left: solid 1px #3774b9;}
.search_btn2 i{font-size: 22px;color: #ccc;}
.product_search_form { box-shadow: rgba(0, 0, 0, 0.1)  0px 1px 4px 2px; border-radius: 5px; height: 50px;
	margin: auto;  }
.product_search_form input{border: none; color: #3774b9;}
.custom_select select{border:0; background-color: transparent;}
.navbar-collapse{justify-content: center;}
.location-text{margin: -6px 0 0 0;}
.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item{ height: 330px; }
.banner_content h2.top-text{font-size: 105px; color:#fff; text-transform: none;    margin: 0;    padding: 0; line-height: 1;}
.banner_content h2.top-text span{font-size: 50px; text-transform: uppercase;}
.banner_content h2.top-text2{font-size: 60px; color:#fff; text-transform: none;    margin-top: 0;
    line-height: 1; display: inline-block;
    background-color: #3575be; padding: 4px 5px 8px 5px;;}
.banner_section .banner_slide_content{top: 20%;
    -moz-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);}
	.banner_content p{ margin: 30px 0 0 0 ;}
	.banner_content p a.btn-fill-out{font-size: 25px; font-weight: 600; padding: 5px 15px; border-radius: 20px;}

.offer-banners{background-color: #daebf4;}	
.nav_style1.owl-theme .owl-nav .owl-prev, .nav_style1.owl-theme .owl-nav .owl-next{background: transparent;}
.get-app h3, .get-app h4{color: #3774b9;}
.get-app h4{font-size: 20px;}
footer h6{color: #fff;}
footer a, footer p{color: #fff;}
.logo-f{margin: 0 15px;}
.bottom_footer{background-color: #172337; color: #fff;border-top: solid 1px #6a6a6a;}
.bottom_header{background-color: #3577bc;}
.navbar .navbar-nav > li > a.active, .navbar .navbar-nav > li:hover > a{color: #fff;}
.f-icons{display: flex; align-items: center;}
.f-icons img{width: 20px; height: 20px;}
.f-icons p{font-size: 14px; margin-bottom: 0; padding-left: 5px;color: #fff;}
.bottom_footer p {
	color: #fff;
  }
.banner_content{display: none;}
.navbar-brand{max-width: 120px;}
.cart_buttons a.checkout{color: #fff;}
.nearest-shop .owl-nav{position: absolute;
  top: -48px;
  right: 80px;}
  .nearest-shop .pr_action_btn li a{background-color: #fff;}
  .nearest-shop.owl-theme .owl-nav [class*="owl-"]:hover{background-color: transparent; color: #3577bc;}

  .product_search_form .location input{height: 30px;border-radius: 0 !important;border-right: solid 1px #ccc !important;}
  .product_search_form .category-dropdown input{height: 30px;}
  .category-dropdown .select-list-group{padding: 10px 0;}
  /* .btn-primary {
	color: #fff;
	background-color: #35bbbc !important;
	border-color: #35bbbc !important;
  } */
.pr_detail .product_description .product_title a{color: #3575be;    font-weight: 600;}
.offers span, .offers a{color: #3577bc; font-weight: 500;}
.offers{    margin-bottom: 10px;}
.product-meta {color: #3577bc;}
.product-meta a{color: #818181; padding-left: 5px;}
.product-policy {display: flex;justify-content: space-between;margin-top: 25px;}
.policy-wrap{display: flex;    align-items: center;}
.policy-img{margin-right: 15px;}
.policy-text{color: #3577bc;}
.product-info .nav{justify-content: space-around;}
.product-info .tab-content.shop_info_tab{box-shadow: 0px 0px 5px #afa5a5; margin-top: 0;    padding: 20px;}
.tab-style3.product-info  .nav-tabs li.nav-item a{    font-size: 18px;    padding: 0.8rem 1rem;}
.product-info  .nav-item{flex: 1;}
.tab-style3.product-info  .nav-tabs li.nav-item a.active{border-top-left-radius: 10px;  border-top-right-radius: 10px;  box-shadow: 0px -3px 3px 0px #afa5a5;
  border-bottom: solid 6px white;}
.product-info .nav-tabs{border-bottom: 0;}
.relared-product .nearest-shop .owl-nav{right: 0;}
body .relared-product .owl-theme .owl-nav [class*="owl-"]{background-color: #3577bc; color: #fff;    width: 40px;    height: 40px;    line-height: 40px; margin-left: 5px;}
body .relared-product .owl-theme .owl-nav button:hover{border: solid 1px #3577bc;}
.product_wrap.store{border: solid 1px #ccc;
  padding: 20px;border-radius: 20px;}
.product_wrap.store .product_title{    white-space: initial;color: #3577bc;}
.product_wrap.store .product_title a{color: #3577bc;}
.store-link{     border: solid 1px #ccc;
  padding: 8px 10px;
  margin-top: 15px;border-radius: 10px;color: #3577bc;}
  .product_wrap.store:hover{border-color: #3575be;}
.sidebar .widget{box-shadow: rgb(175 165 165 / 37%) 0px 0px 5px; padding: 20px; border-radius: 10px;}

.sidebar .widget .widget_title{font-size: 18px;color: #3577bc;border-bottom: solid 1px;
  padding-bottom:10px;justify-content: space-between;    margin-bottom: 15px;
  display: flex;}
  .sidebar .widget .widget_title a{text-transform: none ; font-size: 14px;}
.widget_categories.category-list li a{    display: flex;}
.widget_categories.category-list li a img{max-width: 20px;}
.widget_categories.category-list li a::before{content: ' ';}
.widget.new-products .post_img{max-width: 50px;}
.widget.new-products .post_content .product_title{    white-space: initial;color: #3577bc;line-height: 1.2;}
.widget.new-products .post_content .product_title a{color: #3577bc;    font-size: 12px;  }
.category-view-btn{border: solid 1px #3577bc; padding: 5px 15px; border-radius: 10px;color: #3577bc; margin-top: 15px;}
.cart-header{display: flex;  justify-content: space-between;  border: solid 1px #ededed;  padding: 25px 40px;
  border-radius: 40px;}
  .cart-header h5{margin: 0;color: #3575be; font-weight: 600;}
.cart-section{border: solid 1px #ededed;  border-radius: 40px;padding: 25px;  margin-top: 25px;}
.shop_cart_table .product-name a{color: #3575be;font-size: 24px;
  font-weight: bold;}
  .shop_cart_table .product-price{font-size: 24px; color: #293241;
    font-weight: bold;}
.cart-product{font-size: 24px; color: #818181;
  font-weight: bold;margin-bottom: 20px;}
  .cart-product span{ color: #3575be;}
 .my-ginny-delivery{display: flex; margin-top: 10px;}   
 .my-ginny-delivery img{max-width: 25px;margin-left: 20px;}
 .my-ginny-delivery p{margin: 0;}
 .cart-section .quantity{display: inline-block; border: solid 1px #3577bc; margin-top: 10px;border-radius: 10px;}
 .cart-section .quantity .minus, .cart-section .quantity .plus{background-color: #fff;color: #3577bc;}
 .cart-section input.qty{border: none;color: #3577bc;}
 .cart-section table tr, .shop_cart_table .table,.shop_cart_table td{border: none;}
.cart-header h4{color: #3577bc; margin: 0; font-weight: bold;}
.table-borderless tr, .table-borderless td{border: none !important}
.cart-total hr{margin: 0;}
.text-blue{    color: #3577bc;}
.cart-total table{margin: 0;}
.coupon.field_form{margin: 10px 0 15px;}
.product-detail{display: flex; align-items: center; justify-content: space-between;}
div.sidebar .widget.related-product .post_content h5.product_title a{font-size: 18px; }
div.sidebar .widget.related-product .post_img {
  max-width: 70px;
}
.widget.related-product .post_content .price{font-size: 18px;}
.cart-btn{border: solid 1px #ccc;    padding: 5px 8px;
  border-radius: 10px;}
  .related-product .widget_recent_post li:not(:last-child){margin-bottom: 25px;}
  .related-product .post_content .product_price span.price{color: #818181;}
.cart-header h6{margin: 0;}
.cart_total_amount{text-align: right;}
.widget .widget_title{position: relative;}
.widget .widget_title::before{content: ''; width: 80px; height: 3px; background-color: #3774b9;position: absolute;
  bottom: -2px;}

.store-distance{display: flex; justify-content: space-between; margin-top: 25px;}
.store-time, .store-dist{display: flex; color: #293241;}
.store-icon, .store-dist-icon{margin-left: 5px;}
.rating_num{ color: #293241;}
.page-item:last-child .page-link, .page-item:first-child .page-link{border-radius: 5px;
  height: 25px;  width: 25px;  display: flex;  line-height: 20px;  align-items: center;  justify-content: center;}
.pagination .page-item{align-items: center;    display: flex;}
.offers-store-search{    margin-bottom: 10px;  border-radius: 30px;  overflow: hidden;border: solid 1px #b7ebff;
  transition: all .3s; }
  .offers-store-search:hover{box-shadow: 0px 0px 10px 2px #0000001f;}
  .widget .custome-checkbox .form-check-label {   color: #3575be !important;}
  .store-logo{border-radius: 50%; border: solid 4px #ccc; width: 200px; height: 200px; object-fit: cover;}
.store-img{margin-top: -175px;}
.profile-edit img{max-width: 25px;}
.profile-edit{margin-top: 10px;z-index: 99;}
h2.store-name{ color: #000; font-weight: bold;}
h2.store-name span i{color: #2196f3; font-size: 25px;}
.store-details{padding-left: 80px; }
.store-address img{max-width: 25px;}
.store-address h6, .store-address a{color: #293241;}
.store-address i{font-size: 20px;    text-align: center;  width: 25px;}
.store-address li{margin-bottom: 15px;}
.product_title a{color: #2196f3;}
.product-info.store-product-list .nav{justify-content: start;}
.product-info.store-product-list .nav-item{flex: initial;}
.tab-style3.product-info.store-product-list  .nav-tabs li.nav-item a{padding: 0.8rem 2rem;}
.store-product-list .item{ border: solid 1px #e6e6e6;border-radius: 15px;    overflow: hidden}
.product-info.store-product-list .product_info{
  padding: 15px;
}
.product-info.store-product-list .product_wrap .product_title{ white-space: initial;}
.product-info.store-product-list .product_price{display: flex;  align-items: center;  justify-content: space-between;font-size: 20px;}
.product-info.store-product-list .product_wrap{margin-bottom: 0;}
.product-info.store-product-list .item{margin-bottom: 20px;}
.cart-btn img{width: 20px;}
.customer-profile .sidebar .widget .widget_title{    justify-content: start;}
.customer-profile .sidebar .widget .active a{color: #3575be;}
.btn-grey{background-color: #2d2d2d; color: #fff;}
.btn-grey:hover{color: #afa5a5;}
.cust-profile img{width: 150px; height: 150px; object-fit: cover; border-radius: 50%; border: solid 4px #ededed;}

.order-wrap{max-width: 300px; max-width: 240px; flex: 1 ;box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%); border-radius: 10px;padding: 15px;text-align: center;}

.order-wrap h5{font-size: 18px; margin-bottom: 5px; margin-top: 15px; padding: 0;color: #000;}
.order-details{display: flex; justify-content: space-between;}
.order-wrap p{margin: 0; color: #000;}
.order-wrap img{width: 35px;}
.addresss .btn{padding: 5px 20px; text-transform: uppercase;}
.addresss h5{color: #2d2d2d; margin-bottom: 15px;}
.addresss p{color: #2d2d2d; margin-bottom: 5px; margin-top: 0;}










@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1180px;
}
}
@media only screen and (min-width: 1400px){
  .container {
    max-width: 1320px;
  }
  }


@media only screen and (min-width: 992px){
.banner_content_inner {    padding: 0px 30px;   }
.border-top{border: none !important;}
.navbar-expand-lg .navbar-nav{justify-content: space-between;  width: 100%;}

}

@media only screen and (max-width: 991px){
/* .nav_block{    flex-direction: column;} */
.location{position: absolute;
    top:0px;}
	.nav_block .location a p.location-text,.nav_block .location a i.ion-location{color: #fff;}
	.product_search_form{    bottom: -114px;    width: 98%;    padding: 0;}
	.nav-link.show, .nav-link.pr_search_trigger:hover{color: #fff;}
}
@media only screen and (max-width:780px){
.xs-hidden{display: none;}

.banner_section.slide_medium, .banner_section.slide_medium .carousel-item, .banner_section.slide_medium .banner_content_wrap, .banner_section.slide_medium .banner_content_wrap .carousel-item, .banner_section.shop_el_slider, .banner_section.shop_el_slider .carousel-item, .banner_section.shop_el_slider .banner_content_wrap, .banner_section.shop_el_slider .banner_content_wrap .carousel-item
{ height: 100vw;;}
.banner_content h2.top-text {
    font-size: 18px;}
	.banner_content h2.top-text2, .banner_content h2.top-text span{ font-size: 15px;}
	.banner_section .banner_slide_content{  top: 10%;
		transform: translateY(10%);
		left: 5%;}
	.banner_content p a.btn-fill-out{font-size: 12px;}
	.banner_content p {
		margin: 5px 0 0 0;
	}

	.background_bg.one{background-image:url(../images/Slider/slider-1-mobile.jpg) !important}
	.background_bg.two{background-image:url(../images/Slider/slider-1-mobile.jpg) !important}
	.background_bg.three{background-image:url(../images/Slider/slider-1-mobile.jpg) !important}
	.bank-offer{margin-bottom: 15px;}
	.app-logos{display: flex;}
	.app-logos img{    padding: 10px 5px;
		width: 122px;
		height: auto;}
		.f-logo-pay{flex-direction: column;}
.bank-offer{text-align: center;}
.sale-banner{margin-bottom: 30px;}
.nav-link {	color: #000;  }
.navbar .navbar-nav > li > a.active, .navbar .navbar-nav > li:hover > a{	color: #000;}
.order-details{flex-direction: column;}
.order-wrap{margin-bottom: 25px;}
.mobile_side_menu .nav-link.show{color: #000;}

}


@media only screen and (max-width:480px){
.product-policy{flex-direction: column;}
.policy-text br{display: none;}
.policy-wrap{margin: 5px 0;}
.shop_cart_table td.product-name{text-align: left;}
.shop_cart_table .quantity{justify-content: start;}
.shop_cart_table .product-name a{    font-size: 16px;}
.cart-product,.shop_cart_table .product-price {  font-size: 18px;}
.cart-header{    padding: 15px 25px; align-items: center;}
.product_img{text-align: center;}
}



@media (min-width:992px) and (max-width: 1366px){
  .col-xl-3 { width: 20%; }
  .col-xl-6 { width: 60%;  }

  .post_img img {   width: 50px; }
  div.sidebar .widget.related-product .post_content h5.product_title a {
    font-size: 16px;
  }
}






.select-list-group{padding: 10px 0;}
.combo-select-dropdown.location ul{border-top-left-radius:5px ; border-bottom-left-radius: 5px;padding: 10px 0;}
.location ul{}
ul.select-list-group-list .select-list-group-list-item {padding: 5px 10px;	cursor: pointer; display: flex; align-items: center;}
.select-list-group-list-item img{max-width: 20px;}
.input-group-prepend{width: calc(100% - 50px);}
.location{max-width: 140px;}
.combo-select-dropdown {position: relative;width: 100%;}

.combo-select-dropdown input{ padding: 0 10px;	margin: 0;}
.combo-select-dropdown li {
  padding: 0;
  margin: 0;
}

.combo-select-dropdown li {
  position: relative;

}

.combo-select-dropdown ul {
  list-style: none;
  padding: 0;position: absolute;
  z-index: 9999999; background-color: #fff;
}

.combo-select-dropdown li li:hover {
  color: white;
  background-color: grey;
}

.combo-select-dropdown li li.current {
  color: white;
  background-color: pink;
}

.combo-select-dropdown li li.active {
  color: white;
  background-color: skyblue;
}

.select-list-group {
  position: relative;
}

.select-list-group,
.select-list-group * {
  width: 100%;
}

.select-list-group .select-list-group-search+.select-list-group__toggle:after {
  content: "v";
  font-family: sans-serif;
  position: absolute;
  top: .6rem;
  right: .7rem;
  width: 2rem;
  padding: 0.6rem;
  text-align: center;
}

.select-list-group .select-list-group-search:focus+.select-list-group__toggle:after {
  content: "^";
}

.select-list-group [data-toggle="false"] {
  display: none;
}

.select-list-group [data-toggle="true"] {
  display: inherit;
  box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);
}

.select-list-group li[data-display="false"] {
  display: none;
}

.select-list-group li[data-display="true"] {
  display: inherit;
}

.select-list-group li[data-highlight="false"] {
  border-left: 0;
}

.select-list-group li[data-highlight="true"] {
  color: white;
  background-color: grey;
}

.select-list-group::after {
  position: absolute;
  right: 0;
  margin-right: -5px;
  top: 25px;
  right: 35px;
  content: "";
  width: 10px;
  height: 10px;
  background: url(https://image.flaticon.com/icons/png/512/25/25756.png);
  background-repeat: no-repeat;
  background-size: 10px 10px;
}